<div class=" section index container">
  <div class="row">
    <%= link_to("Back", student_profile_path, class: 'btn btn-primary') %>


    <%= simple_form_for(student_profile_path(@student)) do |f| %>
      <%= f.input :name %>
      <%= f.input :age %>
      <%= f.input :roll %>

      <%= f.button :submit %>
    <% end %>
  </div>
</div>

